contracts/artifacts/
contracts/deps/
node_modules/*
build/
dist/
coverage/
artifacts/
.deps/
.states/
go.sum
backend/logs/
backend/services/logs/
backend/cmd/operator/logs
.env
backend/uploads/*
backend/cmd/operator/__debug_*
backend/cmd/normal/__debug_*